In [2]:
import pandas as pd
dataset=pd.read_csv('nyc_weather.csv')
dataset

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [28]:
dataset[["Temperature", 'DewPoint']][dataset['Events']=='Rain']

    Temperature  DewPoint
8            44        38
9            50        46
15           47        37
26           41        22

In [32]:
dataset[dataset.Temperature==dataset.Temperature.max()]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [21]:
raindaydata=dataset[dataset['Events']=='Rain']
raindaydata

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311

In [4]:
# to check the highest temperature in the month

print("the max temp in the month of january is = ", dataset['Temperature'].max())
print(dataset["Temperature"].min())
print(dataset['Temperature'].std())

the max temp in the month of january is =  50
20
7.639315400279416

In [5]:
# to find the dates on which the rain happened
dataset['EST'][dataset['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [6]:
dataset['EST'][dataset['VisibilityMiles']==10]

0      1/1/2016
1      1/2/2016
2      1/3/2016
3      1/4/2016
4      1/5/2016
5      1/6/2016
6      1/7/2016
7      1/8/2016
10    1/11/2016
11    1/12/2016
12    1/13/2016
13    1/14/2016
18    1/19/2016
19    1/20/2016
20    1/21/2016
24    1/25/2016
25    1/26/2016
26    1/27/2016
27    1/28/2016
28    1/29/2016
29    1/30/2016
30    1/31/2016
Name: EST, dtype: object

## Pandas on a dataset

In [2]:
import pandas as pd

df=pd.read_csv('/Users/jayraj/Applied_AI_Course/Applied_ai_course/Datasets/Pandas_Practice_Police_Dataset.csv')

In [3]:
df.head(6)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False

In [13]:
df.tail()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
91736,2015-12-31,20:27:00,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35:00,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45:00,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42:00,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46:00,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [31]:
import datetime as dt
df['stop_date']=pd.to_datetime(df['stop_date'])
df['stop_time']=pd.to_datetime(df['stop_time'],format='%H:%M:%S')

In [29]:
df.shape

(91741, 15)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  datetime64[ns]
 1   stop_time           91741 non-null  datetime64[ns]
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), datetime64[ns](2), float64(3), object(8)
memory usage: 9.3+ MB

In [34]:
df.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [35]:
df.drop(['county_name'], axis=1, inplace=True)

In [36]:
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1900-01-01 01:55:00,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,1900-01-01 08:15:00,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,1900-01-01 23:15:00,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,1900-01-01 17:15:00,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,1900-01-01 10:00:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [37]:
df.describe()

       driver_age_raw    driver_age
count    86414.000000  86120.000000
mean      1970.491228     34.011333
std        110.914909     12.738564
min          0.000000     15.000000
25%       1967.000000     23.000000
50%       1980.000000     31.000000
75%       1987.000000     43.000000
max       8801.000000     99.000000

In [43]:
df['stop_date'].value_counts()
df['driver_gender'].value_counts()

M    62895
F    23511
Name: driver_gender, dtype: int64

In [44]:
# Target's value counts to check the balance
df['drugs_related_stop'].value_counts()

# Imbalanced Dataset

False    90926
True       815
Name: drugs_related_stop, dtype: int64

# Fill in the empty values

In [55]:
df['driver_gender'].fillna(df['driver_gender'].mode, inplace=True)
df['driver_gender'].isnull().sum()

0

# Sampling

In [56]:
df.sample(10)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
727,2005-10-28,1900-01-01 11:35:00,<bound method Series.mode of 0 M\n1 ...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
12830,2006-12-16,1900-01-01 15:00:00,F,1986.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
16157,2007-04-14,1900-01-01 13:50:00,M,1976.0,31.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
62847,2012-08-17,1900-01-01 01:00:00,M,1993.0,19.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
21118,2007-10-26,1900-01-01 09:57:00,M,1987.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
36220,2009-07-17,1900-01-01 20:36:00,M,1963.0,46.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,30+ Min,False
17420,2007-05-29,1900-01-01 20:30:00,F,1967.0,40.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
29479,2008-10-08,1900-01-01 11:35:00,M,1976.0,32.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
57082,2012-02-24,1900-01-01 10:11:00,F,1986.0,26.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
83462,2015-01-13,1900-01-01 22:44:00,F,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [60]:
df['driver_gender'].nunique()

3

In [61]:
df.columns

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_age_raw',
       'driver_age', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type', 'stop_outcome', 'is_arrested',
       'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [62]:
df.nsmallest(5, 'driver_age_raw' )

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
146,2005-10-05,1900-01-01 08:50:00,M,0.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
281,2005-10-10,1900-01-01 12:05:00,F,0.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
331,2005-10-12,1900-01-01 07:50:00,M,0.0,NaN,White,Motorist Assist/Courtesy,Other,False,NaN,No Action,False,0-15 Min,False
455,2005-10-18,1900-01-01 18:30:00,F,0.0,NaN,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
748,2005-10-29,1900-01-01 07:00:00,M,0.0,NaN,Black,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False

In [63]:
df.nlargest(5, 'driver_age_raw')

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
17964,2007-06-17,1900-01-01 09:55:00,M,8801.0,NaN,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
37779,2009-10-10,1900-01-01 08:23:00,F,2919.0,NaN,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
66876,2013-02-04,1900-01-01 08:31:00,M,2013.0,NaN,White,Registration Violation,Registration/plates,True,Probable Cause,Citation,False,30+ Min,True
56377,2012-02-05,1900-01-01 13:54:00,M,2011.0,NaN,White,Special Detail/Directed Patrol,Other,False,NaN,Citation,False,0-15 Min,False
37738,2009-10-07,1900-01-01 21:15:00,M,2009.0,NaN,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# groupby()

In [68]:
df.groupby('driver_gender').get_group('M')

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1900-01-01 01:55:00,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,1900-01-01 08:15:00,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,1900-01-01 23:15:00,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,1900-01-01 17:15:00,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
5,2005-03-23,1900-01-01 09:45:00,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91735,2015-12-31,1900-01-01 20:25:00,M,1992.0,23.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91736,2015-12-31,1900-01-01 20:27:00,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,1900-01-01 20:45:00,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,1900-01-01 21:42:00,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,1900-01-01 22:46:00,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# loc and iloc

In [70]:
df.loc[:5,['driver_gender', 'driver_age']]

  driver_gender  driver_age
0             M        20.0
1             M        40.0
2             M        33.0
3             M        19.0
4             F        21.0
5             M        23.0

In [74]:
df.loc[(df.driver_gender=='M') & (df.driver_age==40)]

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
1,2005-01-18,1900-01-01 08:15:00,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
71,2005-10-02,1900-01-01 00:00:00,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
99,2005-10-03,1900-01-01 08:37:00,M,1965.0,40.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
115,2005-10-04,1900-01-01 00:00:00,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
160,2005-10-05,1900-01-01 19:15:00,M,1965.0,40.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,16-30 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91385,2015-12-12,1900-01-01 17:19:00,M,1975.0,40.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91471,2015-12-16,1900-01-01 14:52:00,M,1975.0,40.0,Hispanic,Other Traffic Violation,Moving violation,True,"Incident to Arrest,Inventory",Arrest Driver,True,30+ Min,False
91522,2015-12-19,1900-01-01 13:24:00,M,1975.0,40.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
91551,2015-12-21,1900-01-01 03:10:00,M,1975.0,40.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91720,2015-12-31,1900-01-01 06:32:00,M,1975.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False

In [75]:
df.iloc[0:5,0:4]

   stop_date           stop_time driver_gender  driver_age_raw
0 2005-01-02 1900-01-01 01:55:00             M          1985.0
1 2005-01-18 1900-01-01 08:15:00             M          1965.0
2 2005-01-23 1900-01-01 23:15:00             M          1972.0
3 2005-02-20 1900-01-01 17:15:00             M          1986.0
4 2005-03-14 1900-01-01 10:00:00             F          1984.0

In [81]:
df.sort_values(by='stop_date')

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1900-01-01 01:55:00,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,1900-01-01 08:15:00,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,1900-01-01 23:15:00,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,1900-01-01 17:15:00,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,1900-01-01 10:00:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91718,2015-12-31,1900-01-01 00:01:00,M,1966.0,49.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
91717,2015-12-31,1900-01-01 00:00:00,F,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91739,2015-12-31,1900-01-01 21:42:00,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91727,2015-12-31,1900-01-01 09:17:00,F,1995.0,20.0,White,Speeding,Speeding,False,NaN,Warning,False,16-30 Min,False
91740,2015-12-31,1900-01-01 22:46:00,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# query()

In [106]:
df.query('1980 < driver_age_raw< 1986.0')
df.query("driver_race =='Hispanic' | violation == 'Call for Service'")

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
42,2005-10-01,1900-01-01 00:50:00,M,1977.0,28.0,Hispanic,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False
198,2005-10-07,1900-01-01 00:50:00,M,1973.0,32.0,Hispanic,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,16-30 Min,False
320,2005-10-11,1900-01-01 21:55:00,M,1977.0,28.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
339,2005-10-12,1900-01-01 20:30:00,M,1987.0,18.0,Hispanic,Other Traffic Violation,Moving violation,True,Protective Frisk,Arrest Driver,True,0-15 Min,False
340,2005-10-12,1900-01-01 20:30:00,M,1987.0,18.0,Hispanic,Other Traffic Violation,Moving violation,True,Protective Frisk,Arrest Driver,True,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91723,2015-12-31,1900-01-01 07:14:00,M,1978.0,37.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91728,2015-12-31,1900-01-01 13:50:00,F,1982.0,33.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91730,2015-12-31,1900-01-01 15:36:00,F,1996.0,19.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91735,2015-12-31,1900-01-01 20:25:00,M,1992.0,23.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,1900-01-01 22:46:00,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# duplicated()

In [107]:
df.duplicated().sum()

479

In [109]:
# dropping duplicates
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

# get_dummies()

In [113]:
newdf=pd.get_dummies(df.driver_gender, prefix='driver_gender_').iloc[:,0:]
newdf

,"driver_gender__<bound method Series.mode of 0 M\n1 M\n2 M\n3 M\n4 F\n ..\n91736 M\n91737 F\n91738 M\n91739 M\n91740 M\nName: driver_gender, Length: 91741, dtype: object>",driver_gender__F,driver_gender__M
0,0,0,1
1,0,0,1
2,0,0,1
3,0,0,1
4,0,1,0
...,...,...,...
91736,0,0,1
91737,0,1,0
91738,0,0,1
91739,0,0,1
91740,0,0,1

In [115]:
numerical_df=df.select_dtypes(include=[np.number])
numerical_df

       driver_age_raw  driver_age
0              1985.0        20.0
1              1965.0        40.0
2              1972.0        33.0
3              1986.0        19.0
4              1984.0        21.0
...               ...         ...
91736          1986.0        29.0
91737          1982.0        33.0
91738          1992.0        23.0
91739          1993.0        22.0
91740          1959.0        56.0

[91262 rows x 2 columns]

In [116]:
categorical_df=df.select_dtypes(include='object')
categorical_df

,driver_gender,driver_race,violation_raw,violation,search_type,stop_outcome,is_arrested,stop_duration
0,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
1,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
2,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
3,M,White,Call for Service,Other,NaN,Arrest Driver,True,16-30 Min
4,F,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
...,...,...,...,...,...,...,...,...
91736,M,White,Speeding,Speeding,NaN,Warning,False,0-15 Min
91737,F,White,Equipment/Inspection Violation,Equipment,NaN,Warning,False,0-15 Min
91738,M,White,Other Traffic Violation,Moving violation,NaN,Warning,False,0-15 Min
91739,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
91740,M,Hispanic,Speeding,Speeding,NaN,Citation,False,0-15 Min

In [120]:
combdf=pd.concat([numerical_df,categorical_df], axis=1)
combdf.head()

,driver_age_raw,driver_age,driver_gender,driver_race,violation_raw,violation,search_type,stop_outcome,is_arrested,stop_duration
0,1985.0,20.0,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
1,1965.0,40.0,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
2,1972.0,33.0,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
3,1986.0,19.0,M,White,Call for Service,Other,NaN,Arrest Driver,True,16-30 Min
4,1984.0,21.0,F,White,Speeding,Speeding,NaN,Citation,False,0-15 Min

# apply()

In [128]:
def currentage(dob):
    return (2022-dob)

In [129]:
df['driver_age_raw']=df['driver_age_raw'].apply(currentage)
df

,driver_age_raw,driver_age,driver_gender,driver_race,violation_raw,violation,search_type,stop_outcome,is_arrested,stop_duration
0,37.0,20.0,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
1,57.0,40.0,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
2,50.0,33.0,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
3,36.0,19.0,M,White,Call for Service,Other,NaN,Arrest Driver,True,16-30 Min
4,38.0,21.0,F,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
...,...,...,...,...,...,...,...,...,...,...
91736,36.0,29.0,M,White,Speeding,Speeding,NaN,Warning,False,0-15 Min
91737,40.0,33.0,F,White,Equipment/Inspection Violation,Equipment,NaN,Warning,False,0-15 Min
91738,30.0,23.0,M,White,Other Traffic Violation,Moving violation,NaN,Warning,False,0-15 Min
91739,29.0,22.0,M,White,Speeding,Speeding,NaN,Citation,False,0-15 Min
91740,63.0,56.0,M,Hispanic,Speeding,Speeding,NaN,Citation,False,0-15 Min

In [132]:
df.driver_age_qcut=pd.qcut(df['driver_age_raw'],q=5)
df.driver_age_qcut.value_counts()

(-6779.001, 34.0]    18638
(39.0, 47.0]         17646
(34.0, 39.0]         16773
(47.0, 58.0]         16577
(58.0, 2022.0]       16511
Name: driver_age_raw, dtype: int64